<section class='passenger_info'>
  <br>
  <h1>Passenger #<%=@passenger.id%><h1>
  <br>
  <img class='profile_pic' src="https://source.unsplash.com/random" alt='random pictures'> 
  <h3> Passenger Name: <%= @passenger.name %></h3>
  <p>Phone Number: <%= @passenger.phone_num %></p>
  <br>
  <%= link_to 'Delete passenger',
    passenger_path(@passenger.id),
    class: 'btn btn-outline-danger btn-sm',
    method: :delete,
    data: { confirm: 'Are you sure?'}
  %>
  <%= link_to 'Edit passenger',
    edit_passenger_path(@passenger.id),
    class: 'btn btn-outline-secondary btn-sm'
  %>
</section>

<section class='trips_table'>
  <h5><%=@passenger.name%>'s Trips </h5>
  <table class="table table-hover table-bordered tbl-driver ">
    <thead class="thead-light" >
      <tr>
        <th>Trip ID</th>
        <th>Date </th>
        <th>Driver Name</th>
        <th>Rating</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <% if @passenger.trips.length > 0 %>
        <% count = 0 %>
        <% @passenger.trips.each do |trip| %>
          <tr>
            <td><%= link_to trip.id, trip_path(trip.id)%></td>
            <td><%= trip.date%></td>
            <td><%= link_to trip.driver.name, driver_path(trip.driver_id) %></td>
            <td><%= trip.rating %></td>
            <td>$<%= trip.cost %></td>
            <% count += 1%>
          </tr>
        <%end%>
        <p><strong> Total trips:  <%= count %></strong></p>
      <% else %>
        <h6><strong>No Trip for this passenger yet</strong></h6>
      <% end %>
    </tbody>
  </table>
</section>