<%= form_with model: @driver, class: 'driver-form' do |f| %>

  <%# adding validation error messages on top if any %>
  <% if @driver.errors.any? %>
    <ul>
    <%@driver.errors.each do |column, message|%>
      <li>
        <p><%= column %> <%= message %></p>
      </li>  
    <%end%>
    </ul>
  <%end%>

  <form class='form-group row'>
    <div class='col-2'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='col-2'>
      <%= f.label :vin%>
      <%= f.text_field :vin%>
    </div>
    <br>
    <div class="col-2">
      <%= f.submit action_name, class: 'btn btn-outline-secondary btn-sm'%>
    </div>
  </form>

<% end %>