<div class="driver-container">
  <h3>Drivers info</h3>
  <table class="table table-hover table-bordered tbl-driver ">
    <thead class="thead-light" >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Vin Number</th>
        <th>Availability</th>
        <th>Average Rating</th>
        <th>Edit</th>
        <th>Change Status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% if @drivers.length > 0 %>
        <% @drivers.each do |driver| %>
          <tr>
            <td><%= driver.id%></td>
            <td><%= link_to driver.name, driver_path(driver.id)%></td>
            <td><%= driver.vin %></td>
            <td><%= (driver.available) ? 'Available' : 'Unavailable'%></td>
            <td><%= driver.average_rating %></td>
            <td><%= link_to 'Edit Driver',
              edit_driver_path(driver.id),
              class: 'btn btn-outline-secondary btn-sm'
            %></td>
            <td><%= link_to (driver.available ? 'Make Unavailable' : 'Make Available'),
              toggle_available_path(driver.id),
              class: 'btn btn-outline-secondary btn-sm',
              method: :patch 
            %></td>
            <td><%= link_to 'Delete Driver',
              driver_path(driver.id),
              class: 'btn btn-outline-danger btn-sm',
              method: :delete,
              data: { confirm: 'Are you sure?'}
            %></td>
          </tr>
        <%end%>
      <% else %>
        <h3>No Drivers left in the system!</h3>
      <% end %>
    </tbody>
  </table>
</div>