<section class='driver_info'>
  <br>
  <h1>Driver #<%=@driver.id%><h1>
  <br>
  <img class='profile_pic' src="https://source.unsplash.com/random" alt='random pictures'> 
  <h3> Driver Name: <%= @driver.name %></h3>
  <p>Vin Number: <%= @driver.vin %></p>
  <p>Availability: <%=@driver.available ? 'Available' : 'Unavailable'%></p>
  <p>Average rating: <%= @driver.average_rating ? @driver.average_rating : "No average available" %></p>
  <p>Total earnings: $<%= @driver.total_earnings %></p>
  <br>
  <%= link_to 'Delete Driver',
    driver_path(@driver.id),
    class: 'btn btn-outline-danger btn-sm',
    method: :delete,
    data: { confirm: 'Are you sure?'}
  %>
  <%= link_to (@driver.available ? 'Make Unavailable' : 'Make Available'),
    toggle_available_path(@driver.id),
    class: 'btn btn-outline-secondary btn-sm',
    method: :patch 
  %>
  <%= link_to 'Edit Driver',
    edit_driver_path(@driver.id),
    class: 'btn btn-outline-secondary btn-sm'
  %>
</section>

<section class='trips_table'>
  <h5><%=@driver.name%>'s Trips </h5>
  <table class="table table-hover table-bordered tbl-driver ">
    <thead class="thead-light" >
      <tr>
        <th>Trip ID</th>
        <th>Date </th>
        <th>Passenge Name</th>
        <th>Rating</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <% if @driver.trips.length > 0 %>
      <% count = 0 %>
        <% @driver.trips.order(:id).each do |trip| %>
          <tr>
            <td><%= link_to trip.id, trip_path(trip.id)%></td>
            <td><%= trip.date%></td>
            <td><%= link_to trip.passenger.name, passenger_path(trip.passenger) %></td>
            <td><%= trip.rating %></td>
            <td><%= trip.cost %></td>
            <% count += 1%>
          </tr>
        <%end%>
        <p><strong> Total trips:  <%= count %></strong></p>
      <% else %>
        <h6>No Trip for this driver yet</h6>
      <% end %>
    </tbody>
  </table>
</section>